::ng-deep .app-sidenav-cnt{
    width:100%;
    height:calc(100vh - 56px);
    display: flex;
}

.drawer-cnt{
    width:100%;
}

.sidenav-cnt {
    display: flex;
    flex-direction: column;
    padding: 16px;
}


.side-nav-icon-lable-cnt {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap between icon and label */
    //padding: 8px; /* Add padding to the container */
    transition: background-color 0.3s ease; 
    border-radius: 0px 20px;/* Add transition for smooth color change */
}

.side-nav-icon-lable-cnt:hover {
    background-color: #eab964; /* Change background color on hover */
}


.mat-drawer{
    width: 180px;
}

.mat-drawer-content{
    height: 560px;

}

.drawerIcons{
    display: flex;
    width: 200px;
    flex-direction: column;

}

.drawer-router-outlet-cnt{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.close-drawer-cnt{
    width:5%;
    max-width: 35px;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 15px 20px;
    align-items: center;
}

.router-outlet-cnt{
    width: 95%;

}