.note-card-outer {
  display: flex;
    flex-direction: row;
    // gap:25px;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 50px;
    width:75%;
    flex-wrap: wrap;

}

.note-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width:250px;
  margin: 20px 0px;
  min-height:30px;
  max-height: fit-content;
  padding: 10px;
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  &:hover {

    .note-icons{
      visibility: visible;
    }
    .pin-icon{
      visibility: visible;
    }
  } 
  /* justify-content: space-between; */
}

.pin-icon {
  cursor: pointer;
  color: #555;
  font-size: 20px;
  visibility: hidden;
  margin-top: -10px;
  margin-right: -10px;
  align-self: flex-end;
}


.note-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  visibility: hidden;
}


.note-icons mat-icon {
  margin: 5px;
  cursor: pointer;
  color: #555;
  font-size: 20px;
}
.note-content {
  display: flex;
  flex-direction: column; 
  margin-bottom: 30px;/* Set the flex direction to column */
}


.sample-text {
  font-size: 14px;
  color: #333;
  display: block; /* Display spans as block elements */
  //margin-bottom: 10px; /* Optional: Add some space between the spans */
}


.color-palate-cnt{
  display: flex;
  flex-direction: row;
  //justify-content: flex-start;
  flex-wrap: wrap;
  padding: 5px;
  border-radius: 8px;
  width: 270px;
  gap:20px;

}
.col1{
  background-color: #FFFFFF;
  border: 1px solid #b1adad;
  border-radius: 200px;
  height: 50px;
  width:50px;
}
.col2{
  background-color: #FAAFA8;
  border: 1px solid #FAAFA8;
  border-radius: 200px;
  height: 50px;
  width:50px;
}
.col3{
  background-color: #F39F76;
  border: 1px solid #F39F76;
  border-radius: 200px;
  height: 50px;
  width:50px;
}
.col4{
background-color: #FFF8B8;
  border: 1px solid #FFF8B8;
  border-radius: 200px;
  height: 50px;
  width:50px;
}
.col5{
background-color: #E2F6D3;
  border: 1px solid #E2F6D3;
  border-radius: 200px;
  height: 50px;
  width:50px;
}

.col6{
background-color: #B4DDD3;
  border: 1px solid #B4DDD3;
  border-radius: 200px;
  height: 50px;
  width:50px;
}

.col7{
background-color: #D4E4ED;
  border: 1px solid #D4E4ED;
  border-radius: 200px;
  height: 50px;
  width:50px;
}

.col8{
background-color: #AECCDC;
  border: 1px solid #AECCDC;
  border-radius: 200px;
  height: 50px;
  width:50px;
}

.col9{
background-color: #D3BFDB;
  border: 1px solid #D3BFDB;
  border-radius: 200px;
  height: 50px;
  width:50px;
}

.col10{
background-color: #F6E2DD;
  border: 1px solid #F6E2DD;
  border-radius: 200px;
  height: 50px;
  width:50px;
}
.col11{
background-color: #E9E3D4;
  border: 1px solid #E9E3D4;
  border-radius: 200px;
  height: 50px;
  width:50px;
}

.col12{
background-color: #EFEFF1;
  border: 1px solid #EFEFF1;
  border-radius: 200px;
  height: 50px;
  width:50px;
}

@media only screen and (min-width: 600px) and (max-width: 900px){
  .note-card-outer{
    width: 90%;
  }
}