<!-- <div>
    <input type="text" [(ngModel)]="title">
    <input type="text" [(ngModel)]="description">
    <button (click)="handelEditNote()">Close</button>
</div> -->
<!-- <app-create-note (close)="handelEditNote()">

</app-create-note> -->

<div class="note-wrapper">
    <div class="title-description-wrapper">
      <div class="pin">
        <input [(ngModel)]="title" type="text" placeholder="Title" class="note-input">
        <mat-icon svgIcon="pin-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
      </div>
     
      <input [(ngModel)]="description" type="text" placeholder="Description" class="note-input">
  </div>
  <div class="icon-wrapper">
    <div class="icons">
      <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
      <mat-icon svgIcon="collabrator-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
      <mat-icon svgIcon="color-icon" [matMenuTriggerFor]="noteCardColourMenu" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
      <mat-icon svgIcon="image-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
      <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
      <mat-icon svgIcon="more-icon" [matMenuTriggerFor]="noteMenu" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
      <mat-icon svgIcon="undo-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
      <mat-icon svgIcon="redo-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
  </div>
  <button class="close-button" mat-button (click)="handelEditNote()">Close</button>

  </div>
      
  </div>

  <mat-menu #noteMenu="matMenu">
    <button mat-menu-item>
      <span>Change lables</span></button
    ><button mat-menu-item>
      <span>Add drawing</span></button
    ><button mat-menu-item>
      <span>Show checkboxes</span>
    </button>
  </mat-menu>

<!-- ---- -->
<mat-menu #noteCardColourMenu="matMenu">
    <div class="color-palate-cnt">
    <div class="col1" matTooltip="Default" (click)="handleNoteIconsClick('#ffffff')"></div>
    <div class="col2" matTooltip="Coral" (click)="handleNoteIconsClick('#FAAFA8')"></div>
    <div class="col3" matTooltip="Peach" (click)="handleNoteIconsClick('#F39F76')" ></div>
    <div class="col4" matTooltip="Sand" (click)="handleNoteIconsClick('#FFF8B8')"></div>
    <div class="col5" matTooltip="Mint" (click)="handleNoteIconsClick('#E2F6D3')"></div>
    <div class="col6" matTooltip="Sage" (click)="handleNoteIconsClick('#B4DDD3')"></div>
    <div class="col7" matTooltip="Fog" (click)="handleNoteIconsClick('#D4E4ED')"></div>
    <div class="col8" matTooltip="Storm" (click)="handleNoteIconsClick('#AECCDC')"></div>
    <div class="col9" matTooltip="Dusk" (click)="handleNoteIconsClick('#D3BFDB')"></div>
    <div class="col10" matTooltip="Blossom" (click)="handleNoteIconsClick('#F6E2DD')"></div>
    <div class="col11" matTooltip="Clay" (click)="handleNoteIconsClick('#E9E3D4')"></div>
    <div class="col12" matTooltip="Chalk" (click)="handleNoteIconsClick('#EFEFF1')"></div>  
  </div>  
  </mat-menu>