.pin {
    display: flex;
    justify-content: space-between; /* Add space between the input and the icon */
    align-items: center; /* Center items vertically */
    width: 100%; /* Take full width */
  }
  
  .icons-container {
    display: flex;
    gap: 30px;
  }
  
  .note-wrapper {
    padding: 10px;
    border-radius: 10px;
     /* Take full width */
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    background-color: white;
    height: 90px;
  }
  
  .note-input {
    width: calc(100% - 20px); /* Subtract padding from width */
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    outline: none;
  }
  
  .icon-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .icons {
    display: flex;
    gap: 35px;
  }

  
.color-palate-cnt{
    display: flex;
    flex-direction: row;
    //justify-content: flex-start;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 8px;
    width: 270px;
    gap:20px;
  
  }
  .col1{
    background-color: #FFFFFF;
    border: 1px solid #b1adad;
    border-radius: 200px;
    height: 50px;
    width:50px;
  }
  .col2{
    background-color: #FAAFA8;
    border: 1px solid #FAAFA8;
    border-radius: 200px;
    height: 50px;
    width:50px;
  }
  .col3{
    background-color: #F39F76;
    border: 1px solid #F39F76;
    border-radius: 200px;
    height: 50px;
    width:50px;
  }
  .col4{
  background-color: #FFF8B8;
    border: 1px solid #FFF8B8;
    border-radius: 200px;
    height: 50px;
    width:50px;
  }
  .col5{
  background-color: #E2F6D3;
    border: 1px solid #E2F6D3;
    border-radius: 200px;
    height: 50px;
    width:50px;
  }
  
  .col6{
  background-color: #B4DDD3;
    border: 1px solid #B4DDD3;
    border-radius: 200px;
    height: 50px;
    width:50px;
  }
  
  .col7{
  background-color: #D4E4ED;
    border: 1px solid #D4E4ED;
    border-radius: 200px;
    height: 50px;
    width:50px;
  }
  
  .col8{
  background-color: #AECCDC;
    border: 1px solid #AECCDC;
    border-radius: 200px;
    height: 50px;
    width:50px;
  }
  
  .col9{
  background-color: #D3BFDB;
    border: 1px solid #D3BFDB;
    border-radius: 200px;
    height: 50px;
    width:50px;
  }
  
  .col10{
  background-color: #F6E2DD;
    border: 1px solid #F6E2DD;
    border-radius: 200px;
    height: 50px;
    width:50px;
  }
  .col11{
  background-color: #E9E3D4;
    border: 1px solid #E9E3D4;
    border-radius: 200px;
    height: 50px;
    width:50px;
  }
  
  .col12{
  background-color: #EFEFF1;
    border: 1px solid #EFEFF1;
    border-radius: 200px;
    height: 50px;
    width:50px;
  }